@mixin overTab {
    @media print,screen and (min-width: 768px) {
      @content;
    }
  }
  
  .__sp {
    @include overTab {
      display: none;
    }
  }
  
  
  /* About Me */
  .about {
    background-color: #FFE4C4;
    max-width: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Courier','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;
  
    .inner {
      text-align: center;
      padding-left: 50px;
      padding-right: 50px;
      
  
    @include overTab {
      padding-left: 143px;
      padding-right: 143px;
    }
  
    
    .container {
      color: #ff6347;
      .about_title {
        margin-bottom: 37px;
        .main {
          font-size: 40px;
          font-weight: 700;
          @include overTab {
            font-size: 54px;
            font-weight: 900;
          }
        }
      }
      .picture {
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        img {
          height: 270px;
          width: 364px;
          padding: 11px;
          background-color: #ffffff;
          box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);
  
          @include overTab {
          height: 370px;
          width: 464px;
          }
         
        }
  
      }
      .introduction {
        margin-bottom: 30px;
        h3 {
          font-size: 28px;
          font-weight: 500;
        }
      }
      .about_text {
        
        .text {
          font-size: 14px;
          line-height: 1.5;
          color: black;
          background-color: #F0F0E0 ;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 30px;
        box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 20px;
        
        p:not(:last-child) {
          padding-bottom: 15px;
        }
          @include overTab {
            font-size: 16px;
          }
          span {
            color: #ff6347;
            font-weight: 600;
            font-size: 16px;
            @include overTab {
              font-size: 18px;
            }
          }
        }
        
      }
    }
  }
  }
  
  @media screen and (max-width: 480px) {
    html,
      body {
          overflow-x: hidden;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
      }
    .about {
      box-sizing: border-box;
      width: 100%;
      .inner {
        padding-left: 10px;
        padding-right: 10px;
        .container {
          .about_title {
            .main {
  
            }
          }
          .picture {
            width: 300px;
            height: 200px;
            img  {
              width: 278px;
              height: 200px;
            }
          }
          .introduction {
            h3 {
              font-size: 22px;
            }
          }
          .about_text {
            p {
  
            }
          }
        }
      }
    }
  }
  
  
  
  