@charset "UTF-8";
/* service */
@media print, screen and (min-width: 960px) {
  .__sp {
    display: none;
  }
}

.service {
  background-color: #FFE4C4;
  max-width: 100%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "Courier", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", YuGothic, "Yu Gothic", sans-serif;
}

.service .inner {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media print, screen and (min-width: 960px) {
  .service .inner {
    padding-left: 143px;
    padding-right: 143px;
  }
}

.service .inner .container {
  display: block;
  margin: 0 auto;
}

@media print, screen and (min-width: 960px) {
  .service .inner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.service .inner .container .pic {
  width: 373px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
}

@media print, screen and (min-width: 960px) {
  .service .inner .container .pic {
    width: 50%;
    margin-right: 25px;
  }
}

.service .inner .container .pic img {
  height: 270px;
  width: 100%;
  padding: 11px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);
          box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);
}

@media print, screen and (min-width: 960px) {
  .service .inner .container .pic img {
    width: 100%;
    height: 330px;
  }
}

.service .inner .container .service_text {
  width: 100%;
  margin-left: 0px;
  margin-top: 40px;
}

@media print, screen and (min-width: 960px) {
  .service .inner .container .service_text {
    width: 50%;
    margin-left: 25px;
  }
}

.service .inner .container .service_text .service_title {
  margin-bottom: 37px;
  text-align: center;
}

.service .inner .container .service_text .service_title .main {
  font-size: 40px;
  color: #ff6347;
  font-weight: 900;
}

@media print, screen and (min-width: 960px) {
  .service .inner .container .service_text .service_title .main {
    font-size: 54px;
  }
}

.service .inner .container .service_text .price {
  text-align: left;
}

.service .inner .container .service_text .price .item {
  font-size: 16px;
  color: #ff6347;
  margin-bottom: 22px;
  border-radius: 30px 30px 30px 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  padding-left: 30px;
  text-align: center;
  background-color: #F0F0E0;
  -webkit-box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);
          box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);
}

@media print, screen and (min-width: 960px) {
  .service .inner .container .service_text .price .item {
    font-size: 20px;
    margin-bottom: 26px;
    text-align: center;
  }
}

.service .inner .container .service_text .price .item:first-child span {
  padding-left: 100px;
}

.service .inner .container .service_text .price .item:nth-child(2) span {
  padding-left: 195px;
}

.service .inner .container .service_text .price .item:nth-child(3) span {
  padding-left: 25px;
}

.service .inner .container .service_text .price .item:nth-child(4) span {
  padding-left: 100px;
}

.service .inner .container .service_text .price .item:nth-child(5) span {
  padding-left: 100px;
}

.service .inner .container .service_text .price .item2 {
  color: black;
  font-size: 12px;
  margin-bottom: 30px;
  text-align: center;
}

@media print, screen and (min-width: 960px) {
  .service .inner .container .service_text .price .item2 {
    font-size: 16px;
    text-align: left;
  }
}

.service .inner .container .service_text .btn {
  text-align: center;
}

.service .inner .container .service_text .btn a {
  color: #fff;
  background-color: #ff6347;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 30px 30px 30px 30px;
}

@media print, screen and (min-width: 960px) {
  .service .inner .container .service_text .btn a {
    font-size: 18px;
  }
}

.service .inner .container .service_text .btn a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  html,
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .service {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
  .service .inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .service .inner .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .service .inner .container .pic {
    width: 300px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
  .service .inner .container .pic img {
    height: 200px;
    width: 278px;
  }
  .service .inner .container .service_text .price .item {
    font-size: 14px;
    text-align: left;
  }
  .service .inner .container .service_text .price .item:first-child span {
    padding-left: 10px;
  }
  .service .inner .container .service_text .price .item:nth-child(2) span {
    padding-left: 10px;
  }
  .service .inner .container .service_text .price .item:nth-child(3) span {
    padding-left: 10px;
  }
  .service .inner .container .service_text .price .item:nth-child(4) span {
    padding-left: 10px;
  }
  .service .inner .container .service_text .price .item:nth-child(5) span {
    padding-left: 10px;
  }
}
/*# sourceMappingURL=service.css.map */