@charset "UTF-8";
@media print, screen and (min-width: 768px) {
  .__sp {
    display: none;
  }
}

/* skill */
.skill {
  background-color: #fff;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Courier','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;
}

.skill .inner {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-left: auto;
}

@media print, screen and (min-width: 768px) {
  .skill .inner {
    padding-left: 143px;
    padding-right: 143px;
  }
}

.skill .inner .container {
  padding-left: 50px;
  padding-right: 50px;
}

@media print, screen and (min-width: 768px) {
  .skill .inner .container {
    padding-left: 143px;
    padding-right: 143px;
  }
}

.skill .inner .container .skill_title {
  padding-bottom: 37px;
}

.skill .inner .container .skill_title .main {
  font-size: 40px;
  color: #ff6347;
  font-weight: 900;
}

@media print, screen and (min-width: 768px) {
  .skill .inner .container .skill_title .main {
    font-size: 54px;
  }
}

.skill .inner .container .nav .nav_wrap {
  display: block;
}

@media print, screen and (min-width: 768px) {
  .skill .inner .container .nav .nav_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.skill .inner .container .nav .nav_wrap .nav_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

@media print, screen and (min-width: 768px) {
  .skill .inner .container .nav .nav_wrap .nav_list {
    margin-bottom: 0px;
  }
}

.skill .inner .container .nav .nav_wrap .nav_list .item {
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);
          box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);
}

@media print, screen and (min-width: 768px) {
  .skill .inner .container .nav .nav_wrap .nav_list .item {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% / 2);
  }
}

.skill .inner .container .nav .nav_wrap .nav_list .item img {
  width: auto;
  height: 200px;
}

.skill .inner .container .nav .nav_wrap .nav_list .item h4 {
  background-color: #ff6347;
  color: #fff;
  line-height: 30px;
}

@media screen and (max-width: 480px) {
  html,
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .skill {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  .skill .inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .skill .inner .container .nav .nav_wrap .nav_list {
    display: block;
    margin-bottom: 0;
  }
  .skill .inner .container .nav .nav_wrap .nav_list .item {
    margin-bottom: 30px;
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }
  .skill .inner .container .nav .nav_wrap .nav_list:nth-child(2) .item:nth-child(2) {
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=skill.css.map */