@mixin overTab {
  @media print,screen and (min-width: 768px) {
    @content;
  }
}

.__sp {
  @include overTab {
    display: none;
  }
}

/* skill */
.skill {
  background-color: #fff;
  max-width: 100%;
  box-sizing: border-box;
  width: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Courier','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;

    .inner {
      text-align: center;
      padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
      margin-left: auto;
      
    @include overTab {
      padding-left: 143px;
    padding-right: 143px;
    }

    .container {

      padding-left: 50px;
    padding-right: 50px;
    @include overTab {
      padding-left: 143px;
    padding-right: 143px;
    }
      .skill_title {
        padding-bottom: 37px;
        .main {
          font-size: 40px;
          color: #ff6347;
          font-weight: 900;
          @include overTab {
            font-size: 54px;
          }
        }
      }

      .nav {
        .nav_wrap {
          display: block;
            @include overTab {
              display: flex;
            justify-content: center;
            }
          .nav_list {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            @include overTab {
              margin-bottom: 0px;
            }

            .item {
              margin-left: 20px;
              margin-right: 20px;
              box-shadow: 0 3px 18px -4px rgba(0, 0, 0, 0.8);
              @include overTab {
              margin-left: 10px;
              margin-right: 10px;
              width: calc(100% / 2);
              }
              img {
                width: auto;
                height: 200px;
              }
              h4 {
                background-color: #ff6347;
                color: #fff;
                line-height: 30px;

              }

           
          }
          }
        }
      }
    }

}
}

@media screen and (max-width: 480px) {
  html,
	body {
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
  .skill {
    box-sizing: border-box;
    width: 100%;
    .inner {
      padding-left: 10px;
      padding-right: 10px;
      .container {
        .nav {
          .nav_wrap {
            .nav_list {
              display: block;
              margin-bottom: 0;
              .item {
                margin-bottom: 30px;
                width: auto;
                margin-right: 0;
                margin-left: 0;
              }
              &:nth-child(2) {
                .item {
                  &:nth-child(2) {
                  margin-bottom: 0px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

