@import "header";
@import "top";
@import "about";
@import "skill";
@import "service";
@import "works";
@import "contact";
@import "footer";

body {
  max-width: 100%;
  color: white;
  font-family: 'Courier','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;
}

a {
  text-decoration: none;
  color: white;
}





