@charset "UTF-8";
/* top */
@media print, screen and (min-width: 768px) {
  .__sp {
    display: none;
  }
}

.top {
  position: relative;
  max-width: 100%;
  width: 100%;
  z-index: 1;
  padding-top: 80px;
  font-family: 'Courier','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;
}

.top .black {
  z-index: 1;
  width: 100%;
  position: relative;
}

.top .black .top_pic {
  background-image: url(/image/pexels-julia-m-cameron-4144923.jpg);
  background-position: center;
  background-size: cover;
  height: 750px;
  width: 100%;
  position: relative;
}

.top .black .top_pic .box {
  position: absolute;
  width: 100%;
  height: 750px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.top .black .top_pic .text {
  position: absolute;
  left: 50%;
  top: 7.5%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  font-size: 18px;
  width: 320px;
  text-align: center;
}

@media print, screen and (min-width: 768px) {
  .top .black .top_pic .text {
    font-size: 26px;
    width: 450px;
  }
}

.top .container {
  top: 200px;
  height: 600px;
  width: 100%;
  z-index: 2;
  position: absolute;
}

.top .container .pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
}

.top .container .pic .top_pic2 {
  background-image: url(/image/top_pic.png.jpg);
  width: 80%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

@media print, screen and (min-width: 768px) {
  .top .container .pic .top_pic2 {
    width: 70%;
  }
}

.top .container .pic .top_pic1 {
  background-color: #fff;
  width: 20%;
}

@media print, screen and (min-width: 768px) {
  .top .container .pic .top_pic1 {
    width: 30%;
  }
}

.top .container .pic .white {
  position: absolute;
  width: 100%;
  height: 600px;
  background: rgba(240, 240, 224, 0.6);
}

.top .container .top_text {
  position: absolute;
  color: black;
  left: 30%;
  top: 40%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  padding-left: 40px;
}

@media print, screen and (min-width: 768px) {
  .top .container .top_text {
    font-size: 48px;
    padding-left: 80px;
  }
}

.top .container .top_text .text_main1 {
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 20px;
}

@media print, screen and (min-width: 768px) {
  .top .container .top_text .text_main1 {
    font-size: 48px;
  }
}

.top .container .top_text .text_main2 {
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 30px;
}

@media print, screen and (min-width: 768px) {
  .top .container .top_text .text_main2 {
    font-size: 48px;
  }
}

.top .container .top_text .text_sub1 {
  line-height: 1.5;
  font-weight: 600;
}

@media print, screen and (min-width: 768px) {
  .top .container .top_text .text_sub1 {
    font-size: 26px;
  }
}

.top .container .top_text .text_sub1 span {
  font-weight: 800;
}

@media screen and (max-width: 480px) {
  html,
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .top {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  .top .black .top_pic {
    height: 600px;
  }
  .top .black .top_pic .box {
    height: 600px;
  }
  .top .black .top_pic .text {
    display: none;
  }
  .top .container {
    height: 500px;
    top: 150px;
  }
  .top .container .pic .white {
    height: 500px;
  }
  .top .container .top_text {
    top: 40%;
    list-style-position: inside;
    width: 250px;
    left: 35%;
  }
  .top .container .top_text .text_main1 {
    font-size: 24px;
  }
  .top .container .top_text .text_main2 {
    font-size: 24px;
  }
  .top .container .top_text .text_sub1 {
    font-size: 12px;
  }
  .top .container .top_text .text_sub1 span {
    font-size: 14px;
  }
}
/*# sourceMappingURL=top.css.map */